.icon-bar(class=activated)
    a(href="/")#info
        i.fa.fa-info
    a(href="/config")#config
        i.fa.fa-cog
    a(href="/ligar")#ligar
        i.fa.fa-play
    a(href="/desligar")#desligar
        i.fa.fa-pause
    a(href="/travar")#travar
        i.fa.fa-stop