doctype html

html
    //center
        h1 Controle Led Arduino
        
        h4 GPIO 13 
            button(style="color:green")#on ON
            button(style="color:red")#off OFF
            
body
    #page-wrapper
        #main-wrapper
            center
                h1 Controle Led Arduino   
        table
            td           
                include ./barraLateral.pug
            td  
                .tabcontent
                    center
                        h2 Bloqueio Temporário da Energia Elétrica


            


                    
script(src="https://code.jquery.com/jquery-1.10.2.js")
script(src="/js/ledControl.js")
style
    include ../public/less/main.css                   
    include ../public/vendor/font-awesome-4.7.0/css/font-awesome.min.css
    //link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")