doctype html

html
    center
        h1 Controle Led Arduino
        
        h4 GPIO 13 
            button(style="color:green")#on ON
            button(style="color:red")#off OFF

script(src="https://code.jquery.com/jquery-1.10.2.js")
script(src="/js/ledControl.js")

